{
	"ipfsConfig": {
		"type": "go",
		"path": "/Users/mac/.ipfs",
		"flags": [
			"--migrate",
			"--enable-gc",
			"--agent-version-suffix=desktop"
		]
	},
	"language": "",
	"experiments": {
		"npmOnIpfs": true
	},
	"__internal__": {
		"migrations": {
			"version": "0.24.0"
		}
	},
	"automaticGC": true,
	"openWebUIAtLaunch": true,
	"ipfsOnPath": true,
	"daemonConfigRevision": 4,
	"checkedCorsConfig": true,
	"window": {
		"width": 1440,
		"height": 865
	}
}
